<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cab579">  <td>20/01/20 15:10:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddOrganization.AddOrganization_ADD_AND_ATTACH_DOC()[pri:0, instance:com.project.tests.AddOrganization@3dd4520b]">AddOrganization_ADD_AND_ATTACH_DOC</td> 
  <td>main@648680157</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/01/20 15:10:42</td>   <td>-12268</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.project.tests.AddOrganization@3dd4520b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648680157</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/01/20 15:10:42</td>   <td>-11720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startTest(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddOrganization@3dd4520b]">&gt;&gt;startTest</td> 
<td>&nbsp;</td>  <td>main@648680157</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/01/20 15:11:33</td>   <td>38859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddOrganization@3dd4520b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@648680157</td>   <td></td> </tr>
</table>
