<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bf460">  <td>20/01/16 11:57:39</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 11:57:39</td>   <td>619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startTest(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&gt;&gt;startTest</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>20/01/16 11:57:55</td>   <td>15884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUser_AddDoc.AddDocument_BranchAdmin()[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">AddDocument_BranchAdmin</td> 
  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 11:58:27</td>   <td>48027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 11:58:47</td>   <td>68288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startTest(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&gt;&gt;startTest</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>20/01/16 11:58:55</td>   <td>75807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUser_AddDoc.AddDocument_OrganizationUser()[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">AddDocument_OrganizationUser</td> 
  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 11:59:24</td>   <td>104985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 11:59:37</td>   <td>117940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startTest(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&gt;&gt;startTest</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>20/01/16 11:59:47</td>   <td>127769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUser_AddDoc.AddDocument_SystemUser()[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">AddDocument_SystemUser</td> 
  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 12:00:20</td>   <td>160869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 12:00:43</td>   <td>184108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startTest(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&gt;&gt;startTest</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>20/01/16 12:00:49</td>   <td>190503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUser_AddDoc.AddDocument_resetFunctionality()[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">AddDocument_resetFunctionality</td> 
  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 12:01:14</td>   <td>215036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 12:01:26</td>   <td>227690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startTest(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&gt;&gt;startTest</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>20/01/16 12:01:44</td>   <td>245657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUser_AddDoc.Add_MasterUser()[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">Add_MasterUser</td> 
  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 12:03:38</td>   <td>359384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddUser_AddDoc@880ec60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 12:03:39</td>   <td>360054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startTest(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AttachDocument@3f3afe78]">&gt;&gt;startTest</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="acaa9f">  <td>20/01/16 12:04:04</td>   <td>385679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AttachDocument.AddNewBranch_AttachDocument()[pri:0, instance:com.project.tests.AttachDocument@3f3afe78]">AddNewBranch_AttachDocument</td> 
  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 12:04:25</td>   <td>406666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AttachDocument@3f3afe78]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 12:04:37</td>   <td>418539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startTest(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddOrganization@7f63425a]">&gt;&gt;startTest</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="acee67">  <td>20/01/16 12:04:44</td>   <td>424951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddOrganization.AddOrganization_ADD_AND_ATTACH_DOC()[pri:0, instance:com.project.tests.AddOrganization@7f63425a]">AddOrganization_ADD_AND_ATTACH_DOC</td> 
  <td>main@905544614</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>20/01/16 12:05:30</td>   <td>471594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(java.lang.reflect.Method)[pri:0, instance:com.project.tests.AddOrganization@7f63425a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@905544614</td>   <td></td> </tr>
</table>
